.trending-articles {
    padding:0;

    h1.trending-header {
        font-family: Montserrat;
        padding: 10px 15px;
        margin: 0;
        font-size: 20px;
        line-height: 20px;
        border: 1px #e0e0e0 solid;
        background: white;
        color: black;
    }

    a.card {
        margin: 0;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        height: 146px;
        padding-right: 20px;

        &.withImage__content {
            div.card-image {
                float: none;
                display: inline-block;
                width: 110px;
                height: 110px;
                margin: 0 10px 0 6px;
            }
            .card-image-tint {
                display: none;
            }
            .content-section {
                display: inline-block;
                float: none;
                height: 110px;
                width: 70%;
                vertical-align: top;

                .title-section {
                    color: #9b9b9b;
                    margin: 0 0 5px 0;
                }

                h1.heading-section {
                    font-family: Tinos;
                    font-size: 20px;
                    line-height: 25px;
                    height: auto;
                    color: black;
                    padding-right: 25px;
                }
                p.description {
                    display: none;
                }
                .caption_bottom {
                    position: absolute;
                    bottom: 0px;
                    margin-bottom: 0;
                    width: 90%;
                }
            }
        }
    }
}